@using Ams.Media.Web.Services
@inject IMenuGate Gate

<!-- Masterfiles -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Masterfiles</a>
    @{
        var subM = await Gate.GetSubMenusAsync("M", User);
    }
    @if (subM.Any())
    {
        <ul class="dropdown-menu">
            @foreach (var it in subM)
            {
                <li>
                    <a class="dropdown-item"
                       asp-controller="@it.Controller"
                       asp-action="@it.Action">
                        @it.Name
                    </a>
                </li>
            }
        </ul>
    }
</li>


<!-- Transactions -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Transactions</a>
    @{
        var subT = await Gate.GetSubMenusAsync("T", User);
    }
    @if (subT.Any())
    {
        <ul class="dropdown-menu">
            @foreach (var it in subT)
            {
                <li>
                    <a class="dropdown-item"
                       asp-controller="@it.Controller"
                       asp-action="@it.Action">
                        @it.Name
                    </a>
                </li>
            }
        </ul>
    }
</li>

<!-- Reports -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Reports</a>
    @{
        var subR = await Gate.GetSubMenusAsync("R", User);
    }
    @if (subR.Any())
    {
        <ul class="dropdown-menu">
            @foreach (var it in subR)
            {
                <li>
                    <a class="dropdown-item"
                       asp-controller="@it.Controller"
                       asp-action="@it.Action">
                        @it.Name
                    </a>
                </li>
            }
        </ul>
    }
</li>

<!-- Enquiry -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Enquiry</a>
    @{
        var subE = await Gate.GetSubMenusAsync("E", User);
    }
    @if (subE.Any())
    {
        <ul class="dropdown-menu">
            @foreach (var it in subE)
            {
                <li>
                    <a class="dropdown-item"
                       asp-controller="@it.Controller"
                       asp-action="@it.Action">
                        @it.Name
                    </a>
                </li>
            }
        </ul>
    }
</li>

<!-- Systems -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Systems</a>
    @{
        var subS = await Gate.GetSubMenusAsync("S", User);
    }
    @if (subS.Any())
    {
        <ul class="dropdown-menu">
            @foreach (var it in subS)
            {
                <li>
                    <a class="dropdown-item"
                       asp-controller="@it.Controller"
                       asp-action="@it.Action">
                        @it.Name
                    </a>
                </li>
            }
        </ul>
    }
</li>
