@using Ams.Media.Web.Models
@inject Ams.Media.Web.Services.IMenuGate MenuGate

@{
    var master = await MenuGate.GetSubMenusAsync("Master");
    var transaction = await MenuGate.GetSubMenusAsync("Transaction");
    var reports = await MenuGate.GetSubMenusAsync("Reports");
    var systems = await MenuGate.GetSubMenusAsync("Systems");
}

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">AMS Media</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnav"
                aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="topnav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="ddMaster" role="button" data-bs-toggle="dropdown" aria-expanded="false">Master</a>
                    <ul class="dropdown-menu" aria-labelledby="ddMaster">
                        @foreach (var m in master)
                        {
                            <li><a class="dropdown-item" href="@m.Url">@m.Text</a></li>
                        }
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="ddTrans" role="button" data-bs-toggle="dropdown" aria-expanded="false">Transaction</a>
                    <ul class="dropdown-menu" aria-labelledby="ddTrans">
                        @foreach (var m in transaction)
                        {
                            <li><a class="dropdown-item" href="@m.Url">@m.Text</a></li>
                        }
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="ddReports" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reports</a>
                    <ul class="dropdown-menu" aria-labelledby="ddReports">
                        @foreach (var m in reports)
                        {
                            <li><a class="dropdown-item" href="@m.Url">@m.Text</a></li>
                        }
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="ddSystems" role="button" data-bs-toggle="dropdown" aria-expanded="false">Systems</a>
                    <ul class="dropdown-menu" aria-labelledby="ddSystems">
                        @foreach (var m in systems)
                        {
                            <li><a class="dropdown-item" href="@m.Url">@m.Text</a></li>
                        }
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
